{% extends 'photo_sharing/layout.html' %}

{% block content %}
{% load static %}
<div class="card mx-auto my-4 profile-card">
    <div class="card-header pb-2 bg-dark edit-profile-title">
        <h3 class='text-center my-0'>Update Profile</h3>
    </div>
  <div class="card-body bg-dark">
    <form method='POST' enctype='multipart/form-data' class='update-profile-form'>
        {% csrf_token %}
        <label for="image-upload" class='update-profile-image py-3'>
            <img src="{{ user.profile.image.url }}" class="card-img-top rounded-circle" id='uploadedImage' alt="...">
        </label>
        <label for="image-upload" class='update-profile-btn'>Change Profile Picture</label>
        <input type="file" name="image" class='image-upload' id='image-upload'>
        <label for="update-profile-bio" class='profile-bio-label'>Edit Your Bio:</label>
        <textarea maxlength="100" type="text" name="bio" class='update-profile-bio' id='update-profile-bio'>{{ bio }}</textarea>
        <button type="submit" class='save-changes-btn mt-4 mb-3'>Save Changes</button>
    </form>
  </div>
</div>
<script src="{% static 'photo_sharing/form.js' %}"></script>
{% endblock %}
