{% extends 'photo_sharing/layout.html' %}

{% block content %}
<br>
{% if current_user.followers.all.count > 0 %}
    <div class='text-center'>
        {% if parameter == user.username %}
        <h3 class='page-title'>Your Followers</h3>
        {% else %}
        <h3 class='page-title'>{{ parameter|title }}'s Followers</h3>
        {% endif %}
    </div>
{% endif %}
{% for person in current_user.followers.all %}
<div class="row no-gutters user-page">
    <div class='col-12 profile-background my-2'>
        <div class="profile-block">
            <div class='image-col mr-3 pl-1 my-auto'>
                <img class='profile-image' src="{{ person.user.profile.image.url }}" alt="User Profile Image">
            </div>
            <div class='bio-col my-auto pr-0'>
                <a class='username-link' href="{% url 'profile' person.user.username %}"><h4>{{ person.user.username|title }}</h4></a>
                <p class='mb-2'>{{ person.user.profile.bio|truncatechars:90 }}</p>
                {% if person.user not in following_list and person.user != user %}
                <a class='btn user-btn' href="{% url 'follow' person.user.id %}">Follow <i class="fa fa-user" aria-hidden="true"></i></a>
                {% else %}
                <div class='py-2'></div>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% empty %}
<div class="row no-gutters user-page">
    <div class='col-12 profile-background my-3'>
        <div class="profile-block">
            {% if user.username == parameter %}
                <p class='m-auto p-4'>You do not have any followers</p>
            {% else %}
                <p class='m-auto p-4'>{{ parameter|title }} does not have any followers</p>
            {% endif %}
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}
