{% extends 'photo_sharing/layout.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="form-background">
    <h2 class='text-center mb-4 login-title'>Log In</h2>
    <form method='POST' class='login-form'>
        {% csrf_token %}
        {{ form|crispy }}
        <div class='login-br'></div>
        <button class='submit-btn btn btn-primary mt-2' type='submit'>Login</button>
    </form>
    <div class='text-center mt-3'>
        <a class='login-page-link' href="{% url 'register' %}">Create New Account</a>
    </div>
</div>
{% endblock %}
