{% extends 'photo_sharing/layout.html' %}

{% block content %}
    <div class='profile-background my-4'>
        <div class="profile-block">
            <div class='image-col mr-3 pl-1'>
                <img class='profile-image' src="{{ person.profile.image.url }}" alt="User Profile Image">
            </div>
            <div class='bio-col my-2'>
                <h4 class='d-inline-block'>{{ person.username|title }}</h4>
                <div class='d-inline-block'>
                    <div class='following'><a href="{% url 'following' person.username %}"><small>Following {{ person.profile.following.all.count }}</small></a></div>
                    <div class='followers'><a href="{% url 'followers' person.username %}"><small>{{ person.followers.all.count }}
                    {% if person.followers.all.count == 1 %}
                    Follower
                    {% else %}
                    Followers
                    {% endif %}
                    </small></a></div>
                </div>
                <p class='mt-2'>{{ person.profile.bio }}</p>
                {% if person == user %}
                    <a class='btn btn-outline-light follow-btn' href="{% url 'edit-profile' user.profile.id %}">Edit Profile</a>
                {% else %}
                    <a class='btn btn-outline-light follow-btn' href="{% url 'follow' person.id %}">Follow User</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row no-gutters justify-content-center">
        {% for post in posts %}
            <div class="col-3 post-block">
                <div class='post-image'>
                    <img src="{{ post.image.url }}" alt="Post Image">
                </div>
                <p class='post-date'>{{ post.date_created|date:'F d, Y' }}</p>
                <div class='post-description-section'>
                    <div class='post-user-image'>
                        <img src="{{ post.user.profile.image.url }}" alt="User Profile Image">
                    </div>
                    <div class='post-description'>
                        <p class='post-p'>{{ post.description|truncatechars:85 }}</p>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}
