{% extends 'photo_sharing/layout.html' %}

{% block content %}
{% load static %}
    <div class='profile-background py-4'>
        <div class="profile-block">
            <div class='image-col mr-3 pl-1'>
                <img class='profile-image' src="{{ person.profile.image.url }}" alt="User Profile Image">
            </div>
            <div class='bio-col my-2'>
                <h4 class='d-inline-block profile-username'>{{ person.username|title }}</h4>
                <div class='d-inline-block profile-follow-container'>
                    <div class='following'><a href="{% url 'following' person.username %}"><small>{{ person.profile.following.all.count }} Following</small></a></div>
                    <div class='followers'><a href="{% url 'followers' person.username %}"><small>{{ person.followers.all.count }}
                    {% if person.followers.all.count == 1 %}
                    Follower
                    {% else %}
                    Followers
                    {% endif %}
                    </small></a></div>
                </div>
                <p class='mt-2 profile-bio-text'>{{ person.profile.bio }}</p>
                {% if person == user %}
                    <div class='profile-btns-container'>
                        <a type="button" data-toggle="tooltip" data-placement="left" title="View Liked Posts" class='btn text-light profile-likes-btn' href="{% url 'edit-profile' %}"><i class="fa fa-thumbs-up" aria-hidden="true"></i></a>
                        <btn type="button" data-toggle="tooltip" data-placement="left" title="Modify Post" class='btn text-light modify-post-btn'><i class="fa fa-database" aria-hidden="true"></i></btn>
                        <a type="button" data-toggle="tooltip" data-placement="left" title="Edit Profile" class='btn text-light follow-btn' href="{% url 'edit-profile' %}"><i class="fa fa-cog" aria-hidden="true"></i></a>
                    </div>
                {% else %}
                    <a class='btn btn-outline-light follow-btn' href="{% url 'follow' person.id %}">Follow User</a>
                {% endif %}
            </div>
        </div>
    </div>
    <div class="row no-gutters justify-content-center profile-post-section">
        {% for post in posts %}
            <div data-id='{{ post.id }}' class="col-3 post-block overflow-hidden">
                <div class='post-image'>
                    <img src="{{ post.image.url }}" alt="Post Image">
                </div>
                {% if person == user %}
                <div class='post-options'>
                    <button data-id='{{ post.id }}' class='delete-post-btn'><i class="fa fa-trash" aria-hidden="true"></i></button>
                    <button data-id='{{ post.id }}' data-description='{{ post.description }}' class='edit-post-btn'><i class="fa fa-pencil-square" aria-hidden="true"></i></button>
                </div>
                {% endif %}
                <p class='post-date'>{{ post.date_created|date:'F d, Y' }}</p>
                <div class='post-description-section'>
                    <div class='post-user-image'>
                        <img src="{{ post.user.profile.image.url }}" alt="User Profile Image">
                    </div>
                    <div class='post-description'>
                        <p class='post-p'><span class='post-text' data-description='{{ post.description|capfirst }}'>{{ post.description|capfirst|truncatechars:70 }}{% if post.description|length < 35 %}<br>{% endif %}</span><button class='view-post-btn'>View Post</button></p>
                    </div>
                </div>
            </div>
        {% empty %}
        <div class='empty-profile-posts'>You do not have any posts.</div>    
        {% endfor %}
    </div>
    <div class='custom_modal'>
        <div class='custom_modal__exit-btn'><i class="fa fa-times" aria-hidden="true"></i></div>
        <div class='custom_modal__container'>
            <button class='next-btn'><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
            <button class='previous-btn'><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
        </div>
    </div>
    {% if person == user %}
    <div class='profile_modal edit-modal'>
        <div class='profile_modal__exit-btn'><i class="fa fa-times" aria-hidden="true"></i></div>
        <div class='profile_modal__container'>
          <h3 class='profile_modal__title'>Edit Your Post</h3>
          <textarea class='profile_modal__text'></textarea>
          <button class='profile_modal__button profile_modal__update-btn'>Update Post</button>
          <button class='profile_modal__cancel-btn'>Cancel</button>
        </div>
      </div>
      <div class='profile_modal delete-modal'>
        <div class='profile_modal__exit-btn'><i class="fa fa-times" aria-hidden="true"></i></div>
        <div class='profile_modal__container'>
          <h3 class='profile_modal__title profile_modal__title--small'>Are you sure you want to delete this post?</h3>
          <button class='profile_modal__button profile_modal__button--delete'>Yes, Delete!</button>
          <button class='profile_modal__button profile_modal__button--cancel'>Cancel</button>
        </div>
      </div>
    {% endif %}
    <script src="{% static 'photo_sharing/modal.js' %}"></script>
{% endblock %}
