{% extends 'photo_sharing/layout.html' %}

{% block content %}
<br>
<div class='nav-search nav-search-block mb-4'>
    <form class="form-inline my-2 my-lg-0" action='/user/list/'>
        <input class="form-control mr-sm-2 search-input user-results-searchbar" type="text" name='q' placeholder="Search..." aria-label="Search" autocomplete="off" autofocus>
        <a class="my-2 my-sm-0 search-btn" type="submit"><i class="fa fa-search" aria-hidden="true"></i></a>
        <div class='loading-icon'>
            <div class="lds-spinner"><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div><div></div></div>
        </div>
    </form>
    <div class='search-results'>
    </div>
</div>
{% for person in results %}
<div class="row no-gutters user-page">
    <div class='col-12 profile-background my-2'>
        <div class="profile-block">
            <div class='image-col mr-3 pl-1 my-auto'>
                <img class='profile-image' src="{{ person.profile.image.url }}" alt="User Profile Image">
            </div>
            <div class='bio-col my-auto pr-0'>
                <a class='username-link' href="{% url 'profile' person.username %}"><h4>{{ person.username|title }}</h4></a>
                <p class='mb-2'>{{ person.profile.bio|truncatechars:90 }}</p>
                {% if person.username == user.username %}
                <div class='py-2'></div>
                {% elif person not in following_list %}
                <a class='btn user-btn follow' data-id='{{ person.id }}' href="{% url 'follow' person.id %}">Follow <i class="fa fa-user" aria-hidden="true"></i></a>
                {% else %}
                <a class='btn user-btn unfollow' data-id='{{ person.id }}' href="{% url 'unfollow' person.id %}">Unfollow <i class="fa fa-user" aria-hidden="true"></i></a>
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% empty %}
<div class="row no-gutters user-page">
    <div class='col-12 profile-background my-3'>
        <div class="profile-block">
            <p class='m-auto p-4'>Sorry, there are not any users with that username.</p>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}
