{% extends "photo_sharing/layout.html" %}

{% block content %}
{% load static %}


<div class='global-feed'>
    {% for post in all_posts %}
        <div class='post-img-div'>
            <img data-id='{{post.id}}' class='post-img' src="{{ post.image.url }}" alt="Post Image">
        </div>
    {% endfor %}
</div>
<div class='custom_modal'>
    <div class='custom_modal__exit-btn'><i class="fa fa-times" aria-hidden="true"></i></div>
    <div class='custom_modal__container'>
        <button class='next-btn'><i class="fa fa-chevron-right" aria-hidden="true"></i></button>
        <button class='previous-btn'><i class="fa fa-chevron-left" aria-hidden="true"></i></button>
    </div>
</div>
<script src="{% static 'photo_sharing/modal.js' %}"></script>

{% endblock %}