{% extends 'photo_sharing/layout.html' %}

{% block content %}
<br>
<div class='text-center'>
    <h3 class="page-title">Post Likes</h3>
</div>
{% for like in results %}
<div class="row no-gutters user-page">
    <div class='col-12 profile-background my-2'>
        <div class="profile-block">
            <div class='image-col mr-3 pl-1 my-auto'>
                <img class='profile-image' src="{{ like.user.profile.image.url }}" alt="User Profile Image">
            </div>
            <div class='bio-col my-auto pr-0'>
                <a class='username-link' href="{% url 'profile' like.user.username %}"><h4>{{ like.user.username|title }}</h4></a>
                <p class='mb-2'>{{ like.user.profile.bio|truncatechars:90 }}</p>
                <a class='btn user-btn' href="#">Follow <i class="fa fa-user" aria-hidden="true"></i></a>
            </div>
        </div>
    </div>
</div>
{% empty %}
<div class="row no-gutters user-page">
    <div class='col-12 profile-background my-3'>
        <div class="profile-block">
            <p class='m-auto p-4'>This post does not have any likes.</p>
        </div>
    </div>
</div>
{% endfor %}
{% endblock %}
