{% extends 'photo_sharing/layout.html' %}

{% block content %}
<div class="row justify-content-around no-gutters">
    <div class="col-3 mt-5">

    </div>
    <div class='col-6'>
        <br>
        <div class='home-icons'>
            <p>Insert a list of icons here.</p>
        </div>
        {% for post in object_list %}
            <div class="row no-gutters justify-content-center home">
                <div class="col-9 post-block">
                    <div class='post-image'>
                        <img src="{{ post.image.url }}" alt="Post Image">
                    </div>
                    <div class='post-description-section'>
                        <div class='post-user-image'>
                            <img src="{{ post.user.profile.image.url }}" alt="User Profile Image">
                        </div>
                        <div class='post-description'>
                            <a class='username-link' href="{% url 'profile' post.user.username %}"><h6>{{ post.user.username|title }}</h6></a>
                            {% if post.postlike_set.all.count == 1 %}
                                <div class='likes'><a href="{% url 'likes-list' post.id %}"><p>{{ post.postlike_set.all.count }} Like</p></a></div>
                            {% elif post.postlike_set.all.count > 1 %}
                                <div class='likes'><a href="{% url 'likes-list' post.id %}"<p>{{ post.postlike_set.all.count }} Likes</p></a></div>
                            {% endif %}
                            <p class='post-p'>{{ post.description|truncatechars:90 }}</p>
                            {% if post.id not in post_likes %}
                            <a href="{% url 'post-like' post.id %}" class='like-btn'><p><i class="fa fa-heart" aria-hidden="true"></i>Like Post</p></a>
                            {% else %}
                            <a href="{% url 'post-like' post.id %}" class='like-btn liked'><p><i class="fa fa-heart" aria-hidden="true"></i>Liked Post</p></a>
                            {% endif %}
                            <p class='post-date'>{{ post.date_created|date:'F d, Y' }}</p>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    <div class="col-3 mt-5">
        <!-- <div class='bg-dark mt-5 text-center border border-dark mx-auto w-75 p-3'>
            <h5>{{ user.username }}</h5>
            <p>{{ user.profile.bio }}</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta saepe accusamus tenetur pariatur ab eius nemo veritatis omnis itaque aliquid. Consequatur repellendus, laborum unde. Error quae quia asperiores libero nulla.</p>
        </div> -->
    </div>
</div>
{% endblock %}
