{% extends 'photo_sharing/layout.html' %}
{% block content %}
{% load static %}
<div class='custom_row'>
<div class='first-col'>
    <div class='left-home-sidebar'>
        <div class="card text-dark bg-light border border-dark mb-3 text-center py-3" style="max-width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Primary card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
          <div class="card text-white bg-secondary mb-3 py-3" style="max-width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Secondary card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
        <div class="card text-white bg-dark mb-3 text-center py-3" style="max-width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">Dark card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            </div>
          </div>
    </div>
</div>
<div class='center-col'>
    <div id='global-posts'>
        <br>
        <div class='text-center'>
            <div class="page-title home-title">
                Home Feed
            </div>
        </div>
        {% for post in newest_posts %}
            <div class="row no-gutters justify-content-center home">
                <div class="col-12 post-block">
                    <div class='post-image'>
                        <img src="{{ post.image.url }}" alt="Post Image">
                    </div>
                    <div class='post-description-section'>
                        <div class='post-user-image'>
                            <img src="{{ post.user.profile.image.url }}" alt="User Profile Image">
                        </div>
                        <div class='post-description'>
                            <a class='username-link' href="{% url 'profile' post.user.username %}"><h6>{{ post.user.username|title }}</h6></a>
                                <div class='likes'><a href="{% url 'likes-list' post.id %}"><p>
                                    {% if post.postlike_set.all.count > 0 %}
                                    <span class="likes-count">{{ post.postlike_set.all.count }}</span>
                                    {% else %}
                                    <span class="likes-count likes-hidden">0</span>
                                    {% endif %}
                                    {% if post.postlike_set.all.count == 1 %}
                                    <span id="like-title"> Like</span>
                                    {% elif post.postlike_set.all.count > 1 %}
                                    <span id="like-title"> Likes</span>
                                    {% else %}
                                    <span class='likes-hidden' id="like-title"> Like</span>
                                    {% endif %}
                                    </p></a></div>
                            <p class='post-p'><span class='post-text' data-description='{{ post.description|capfirst }}'>{{ post.description|capfirst|truncatechars:90 }}</span> {% if post.description|length > 90 %} <button class='post-read-more-btn'>Read More</button> {% endif %} </p>
                            {% if post.id not in post_likes %}
                            <a href="{% url 'post-like' post.id %}" data-id="{{post.id}}" class='like-btn'><p><i class="fa fa-heart" aria-hidden="true"></i>Like Post</p></a>
                            {% else %}
                            <a href="{% url 'post-like' post.id %}" data-id="{{post.id}}" class='like-btn liked'><p><i class="fa fa-heart" aria-hidden="true"></i>Liked Post</p></a>
                            {% endif %}
                            <p class='post-date'>{{ post.date_created|date:'F d, Y' }}</p>
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
        <div class='bg-dark text-white py-3 px-4 mt-4'>Your feed is empty. Begin following people to see their posts here.</div>
        {% endfor %}
    </div>
</div>
<div class='last-col'>
    <div class='home-sidebar'>
        <div class='sidebar-container'>
            <h3 class='sidebar-username'>Welcome, {{ user.username|title }}!</h3>
            <div class='sidebar-img-container'>
                <img src="{{ user.profile.image.url }}" alt="Your Profile Picture">
            </div>
            <div class='sidebar-btn-group'>
            <a href='/user/update-profile/' type="button" class="btn btn-dark sidebar-btn">Edit Profile</a>
            <a href='/user/profile/{{ user.username }}/' type="button" class="btn btn-dark sidebar-btn">View Profile</a>
            <a href='/new-post/' type="button" class="btn btn-dark sidebar-btn">Create New Post</a>
            <a href='/post-likes-list/' type="button" class="btn btn-dark sidebar-btn">View Liked Posts</a>
            <a href='/global-posts/' type="button" class="btn btn-dark sidebar-btn">View Global Feed</a>
            </div>
            <div class='sidebar-block-content'>
                {% if following %}
                <h5 class='sidebar-follow-title'>Your Favourite Users:</h5>
                <div class='sidebar-following-list'>
                    {% for person in following %}
                    <div class='sidebar-follow-img-container'>
                        <a href="/user/profile/{{ person.username }}/"><img src="{{ person.profile.image.url }}" alt="User Image"></a>
                    </div>
                    {% endfor %}
                </div>
                {% else %}
                <p class='text-center pt-3 pb-2'>You are not following any users.</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
</div>
<script src='{% static "photo_sharing/dynamicLoad.js" %}'></script>
{% endblock %}
