body {
    background-image: repeating-linear-gradient(135deg, rgba(128, 128, 128, 0.03) 0px, rgba(128, 128, 128, 0.03) 36px,rgba(119, 119, 119, 0.03) 36px, rgba(119, 119, 119, 0.03) 58px,rgba(198, 198, 198, 0.03) 58px, rgba(198, 198, 198, 0.03) 79px,rgba(15, 15, 15, 0.03) 79px, rgba(15, 15, 15, 0.03) 108px,rgba(146, 146, 146, 0.03) 108px, rgba(146, 146, 146, 0.03) 120px,rgba(135, 135, 135, 0.03) 120px, rgba(135, 135, 135, 0.03) 160px,rgba(98, 98, 98, 0.03) 160px, rgba(98, 98, 98, 0.03) 202px,rgba(197, 197, 197, 0.03) 202px, rgba(197, 197, 197, 0.03) 223px),repeating-linear-gradient(135deg, rgba(146, 146, 146, 0.03) 0px, rgba(146, 146, 146, 0.03) 48px,rgba(148, 148, 148, 0.03) 48px, rgba(148, 148, 148, 0.03) 92px,rgba(187, 187, 187, 0.03) 92px, rgba(187, 187, 187, 0.03) 124px,rgba(127, 127, 127, 0.03) 124px, rgba(127, 127, 127, 0.03) 137px,rgba(123, 123, 123, 0.03) 137px, rgba(123, 123, 123, 0.03) 156px,rgba(7, 7, 7, 0.03) 156px, rgba(7, 7, 7, 0.03) 198px,rgba(140, 140, 140, 0.03) 198px, rgba(140, 140, 140, 0.03) 224px,rgba(167, 167, 167, 0.03) 224px, rgba(167, 167, 167, 0.03) 249px),repeating-linear-gradient(135deg, rgba(118, 118, 118, 0.03) 0px, rgba(118, 118, 118, 0.03) 11px,rgba(69, 69, 69, 0.03) 11px, rgba(69, 69, 69, 0.03) 38px,rgba(202, 202, 202, 0.03) 38px, rgba(202, 202, 202, 0.03) 63px,rgba(213, 213, 213, 0.03) 63px, rgba(213, 213, 213, 0.03) 100px,rgba(238, 238, 238, 0.03) 100px, rgba(238, 238, 238, 0.03) 122px,rgba(221, 221, 221, 0.03) 122px, rgba(221, 221, 221, 0.03) 139px,rgba(34, 34, 34, 0.03) 139px, rgba(34, 34, 34, 0.03) 168px,rgba(52, 52, 52, 0.03) 168px, rgba(52, 52, 52, 0.03) 198px),linear-gradient(90deg, rgb(248, 248, 248),rgb(233, 233, 233));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: Helvetica, sans-serif;
    color: #f8f9fa;
    min-height: 100vh;
}
main {
    background-image: repeating-linear-gradient(135deg, rgba(128, 128, 128, 0.03) 0px, rgba(128, 128, 128, 0.03) 36px,rgba(119, 119, 119, 0.03) 36px, rgba(119, 119, 119, 0.03) 58px,rgba(198, 198, 198, 0.03) 58px, rgba(198, 198, 198, 0.03) 79px,rgba(15, 15, 15, 0.03) 79px, rgba(15, 15, 15, 0.03) 108px,rgba(146, 146, 146, 0.03) 108px, rgba(146, 146, 146, 0.03) 120px,rgba(135, 135, 135, 0.03) 120px, rgba(135, 135, 135, 0.03) 160px,rgba(98, 98, 98, 0.03) 160px, rgba(98, 98, 98, 0.03) 202px,rgba(197, 197, 197, 0.03) 202px, rgba(197, 197, 197, 0.03) 223px),repeating-linear-gradient(135deg, rgba(146, 146, 146, 0.03) 0px, rgba(146, 146, 146, 0.03) 48px,rgba(148, 148, 148, 0.03) 48px, rgba(148, 148, 148, 0.03) 92px,rgba(187, 187, 187, 0.03) 92px, rgba(187, 187, 187, 0.03) 124px,rgba(127, 127, 127, 0.03) 124px, rgba(127, 127, 127, 0.03) 137px,rgba(123, 123, 123, 0.03) 137px, rgba(123, 123, 123, 0.03) 156px,rgba(7, 7, 7, 0.03) 156px, rgba(7, 7, 7, 0.03) 198px,rgba(140, 140, 140, 0.03) 198px, rgba(140, 140, 140, 0.03) 224px,rgba(167, 167, 167, 0.03) 224px, rgba(167, 167, 167, 0.03) 249px),repeating-linear-gradient(135deg, rgba(118, 118, 118, 0.03) 0px, rgba(118, 118, 118, 0.03) 11px,rgba(69, 69, 69, 0.03) 11px, rgba(69, 69, 69, 0.03) 38px,rgba(202, 202, 202, 0.03) 38px, rgba(202, 202, 202, 0.03) 63px,rgba(213, 213, 213, 0.03) 63px, rgba(213, 213, 213, 0.03) 100px,rgba(238, 238, 238, 0.03) 100px, rgba(238, 238, 238, 0.03) 122px,rgba(221, 221, 221, 0.03) 122px, rgba(221, 221, 221, 0.03) 139px,rgba(34, 34, 34, 0.03) 139px, rgba(34, 34, 34, 0.03) 168px,rgba(52, 52, 52, 0.03) 168px, rgba(52, 52, 52, 0.03) 198px),linear-gradient(90deg, rgb(248, 248, 248),rgb(233, 233, 233));
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* ==== NAVBAR ==== */

.navbar {
    padding: 15px 5% !important;
    background-image: repeating-linear-gradient(135deg, rgba(128, 128, 128, 0.03) 0px, rgba(128, 128, 128, 0.03) 36px,rgba(119, 119, 119, 0.03) 36px, rgba(119, 119, 119, 0.03) 58px,rgba(198, 198, 198, 0.03) 58px, rgba(198, 198, 198, 0.03) 79px,rgba(15, 15, 15, 0.03) 79px, rgba(15, 15, 15, 0.03) 108px,rgba(146, 146, 146, 0.03) 108px, rgba(146, 146, 146, 0.03) 120px,rgba(135, 135, 135, 0.03) 120px, rgba(135, 135, 135, 0.03) 160px,rgba(98, 98, 98, 0.03) 160px, rgba(98, 98, 98, 0.03) 202px,rgba(197, 197, 197, 0.03) 202px, rgba(197, 197, 197, 0.03) 223px),repeating-linear-gradient(135deg, rgba(146, 146, 146, 0.03) 0px, rgba(146, 146, 146, 0.03) 48px,rgba(148, 148, 148, 0.03) 48px, rgba(148, 148, 148, 0.03) 92px,rgba(187, 187, 187, 0.03) 92px, rgba(187, 187, 187, 0.03) 124px,rgba(127, 127, 127, 0.03) 124px, rgba(127, 127, 127, 0.03) 137px,rgba(123, 123, 123, 0.03) 137px, rgba(123, 123, 123, 0.03) 156px,rgba(7, 7, 7, 0.03) 156px, rgba(7, 7, 7, 0.03) 198px,rgba(140, 140, 140, 0.03) 198px, rgba(140, 140, 140, 0.03) 224px,rgba(167, 167, 167, 0.03) 224px, rgba(167, 167, 167, 0.03) 249px),repeating-linear-gradient(135deg, rgba(118, 118, 118, 0.03) 0px, rgba(118, 118, 118, 0.03) 11px,rgba(69, 69, 69, 0.03) 11px, rgba(69, 69, 69, 0.03) 38px,rgba(202, 202, 202, 0.03) 38px, rgba(202, 202, 202, 0.03) 63px,rgba(213, 213, 213, 0.03) 63px, rgba(213, 213, 213, 0.03) 100px,rgba(238, 238, 238, 0.03) 100px, rgba(238, 238, 238, 0.03) 122px,rgba(221, 221, 221, 0.03) 122px, rgba(221, 221, 221, 0.03) 139px,rgba(34, 34, 34, 0.03) 139px, rgba(34, 34, 34, 0.03) 168px,rgba(52, 52, 52, 0.03) 168px, rgba(52, 52, 52, 0.03) 198px),linear-gradient(90deg, rgb(248, 248, 248),rgb(233, 233, 233));
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    background-attachment: fixed;
    background-blend-mode: multiply;
    background-color: #dddddd;
}
.navbar-toggler {
    margin-bottom: 8px !important;
    border: 1px solid #909090 !important;
    background: rgb(241, 241, 241) !important;
    position: relative;
    top: 3px;
    right: 5px;
}
.navbar h1 {
    color: white;
    font-family: 'Lobster', cursive;
    position: absolute;
    font-size: 2.3rem;
    margin-top: 6px;
    top: 7px;
    text-shadow: -1px -1px 0 #909090, 1px -1px 0 #909090, -1px 1px 0 #909090, 1px 1px 0 #909090;
}
.login-title h1 {
    left: 50%;
    transform: translateX(-50%);
}
.mobile-nav-title {
    display: none;
}
.nav-link {
    letter-spacing: 1px;
    color: white !important;
    position: relative;
    text-shadow: -1px -1px 0 #909090, 1px -1px 0 #909090, -1px 1px 0 #909090, 1px 1px 0 #909090;
}
.nav-link::before {
    content: '';
    width: 90%;
    height: 5px;
    background: white;
    position: absolute;
    bottom: 3px;
    left: 50%;
    transform: translateX(-50%) scaleX(0);
    transform-origin: right;
    transition: transform 250ms ease-out;
    border: 1px solid #909090;
}
.nav-link:hover::before {
    transform: translateX(-50%) scaleX(1);
    transform-origin: left;
}
.active {
    color: white !important;
}
.active::before {
    content: '';
    width: 90%;
    height: 5px;
    background: white;
    position: absolute;
    bottom: 3px;
    left: 50%;
    transform: translateX(-50%) scaleX(1);
    border: 1px solid #909090;
}
.navbar-nav .nav-item {
    margin-right: 7px !important;
    display: inline-block;
}
.navbar-nav .fa {
    font-size: 1.7rem;
    margin: 0 10px;
}
.navbar-nav .fa-globe,
.navbar-nav .fa-plus-square,
.navbar-nav .fa-user {
    margin-bottom: 5px;
}
.navbar-nav .fa-home,
.navbar-nav .fa-sign-out {
    font-size: 1.85rem;
}
.navbar-nav .fa-home {
    position: relative;
    top: -1px;
}
.navbar-nav .fa-pencil-square-o {
    position: relative;
    top: 1px;
}
.nav-search {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}
.search-input {
    border-radius: 15px !important;
    height: 32px;
    background: #F3F3F3;
    padding-left: 40px;
    border: 1px solid #BBBBBD;
}
.nav-search .fa-search {
    color: #262B2F;
    font-size: 15px;
}
.search-input:focus {
    background: #E9E9E9;
    color: #262B2F;
}
.search-btn {
    position: absolute;
    left: 13px;
    top: 3px;
    padding: 0;
    margin: 0;
    display: inline;
    background: none;
    border: none;
    outline: none;
}
.search-btn:focus {
    outline: none;
}
.user-results-searchbar {
    background: white !important;
}
.loading-icon {
    position: absolute;
    right: -12px;
    display: none;
    transform: scale(0.2);
}
.loading-icon--visible {
    display: block;
}
.search-results {
    background: #ecf0f1;
    padding: 0;
    width: 120%;
    margin: 1em auto;
    color: black;
    position: absolute;
    border: 1px solid #c2c2c2;
    border-top: none;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    border-radius: 3px;
    display: none;
}
.search-results--visible {
    opacity: 1;
    transition: opacity 0.5s;
    display: initial;
}
.search-results::before {
    content: "";
    position: absolute;
    top: -1.5em;
    left: 50%;
    transform: translateX(-50%);
    border: 15px solid transparent;
    border-bottom-color: #ecf0f1;
    z-index: 2;
}
.search-result {
    display: flex;
    border-bottom: 1px solid #b4b4b4;
    padding: 0.3em;
    position: relative;
    z-index: 5;
    overflow: hidden;
}
.user-result-link {
    text-decoration: none;
    color: rgb(68, 68, 68);
}
.user-result-link:hover {
    text-decoration: none;
    color: rgb(68, 68, 68);
}
.user-result-link:hover .search-result {
    background: rgb(223, 223, 223);
}
.search-img {
    width: 4em;
    height: 4em;
    border-radius: 50%;
    overflow: hidden;
    border: 2px solid rgb(200, 200, 200);
}
.search-img img {
    width: 100%;
    height: 100%;
}
.search-username {
    font-size: 1.4rem;
    margin: auto 0.5em;
}

.lds-spinner {
    color: official;
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-spinner div {
    transform-origin: 40px 40px;
    animation: lds-spinner 1.2s linear infinite;
  }
  .lds-spinner div:after {
    content: " ";
    display: block;
    position: absolute;
    top: 3px;
    left: 37px;
    width: 6px;
    height: 18px;
    border-radius: 20%;
    background: grey;
  }
  .lds-spinner div:nth-child(1) {
    transform: rotate(0deg);
    animation-delay: -1.1s;
  }
  .lds-spinner div:nth-child(2) {
    transform: rotate(30deg);
    animation-delay: -1s;
  }
  .lds-spinner div:nth-child(3) {
    transform: rotate(60deg);
    animation-delay: -0.9s;
  }
  .lds-spinner div:nth-child(4) {
    transform: rotate(90deg);
    animation-delay: -0.8s;
  }
  .lds-spinner div:nth-child(5) {
    transform: rotate(120deg);
    animation-delay: -0.7s;
  }
  .lds-spinner div:nth-child(6) {
    transform: rotate(150deg);
    animation-delay: -0.6s;
  }
  .lds-spinner div:nth-child(7) {
    transform: rotate(180deg);
    animation-delay: -0.5s;
  }
  .lds-spinner div:nth-child(8) {
    transform: rotate(210deg);
    animation-delay: -0.4s;
  }
  .lds-spinner div:nth-child(9) {
    transform: rotate(240deg);
    animation-delay: -0.3s;
  }
  .lds-spinner div:nth-child(10) {
    transform: rotate(270deg);
    animation-delay: -0.2s;
  }
  .lds-spinner div:nth-child(11) {
    transform: rotate(300deg);
    animation-delay: -0.1s;
  }
  .lds-spinner div:nth-child(12) {
    transform: rotate(330deg);
    animation-delay: 0s;
  }
  @keyframes lds-spinner {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }  

  @media (min-width: 1600px) {
      .navbar {
          padding: 15px 14% !important;
      }
  }
  @media (max-width: 1200px) {
      .navbar {
          padding-right: 15px !important;
      }
  }
  @media (max-width: 991px) {
      .navbar .fa-search {
          top: 8px;
          position: relative;
      }
      .nav-search {
        top: 15px;
      }
      .navbar-nav {
          padding-top: 10px;
          flex-direction: row;
      }
      .navbar-nav .fa {
          position: relative;
          top: 4px;
          margin-right: 10px;
          color: #262B2F;
          text-shadow: none;
      }
      .nav-link {
        color: #262B2F !important;
        text-shadow: none;
      }
      .nav-link:hover .fa {
        color: #296ba1 !important;
      }
      .nav-link:hover {
        color: #296ba1 !important;
      }
      .nav-link::before {
          display: none;
      }
      .active::before {
        display: none;
    }
      .navbar {
        padding-left: 25px !important;
    }
    .bs-tooltip-bottom {
        display: none !important;
    }
    .mobile-nav-title {
        display: initial;
    }
    .ml-auto .mx-auto {
        margin: auto !important;
    }
  }
  @media (max-width: 767px) {
      .nav-search {
          display: none;
      }
      .navbar-toggler {
          left: 0;
      }
      .navbar-nav {
        padding-top: 0px;
        flex-direction: column;
        }
        .desktop-nav-icon {
            display: none;
        }
        .search-nav-title {
            display: initial !important;
        }
  }
  @media (max-width: 450px) {
    .navbar h1 {
        font-size: 2.1rem;
        top: 10px;
    }
  }

/* ==== END OF NAVBAR ==== */

.nav-search-block {
    position: relative;
    text-align: center;
    z-index: 1;
    display: inline-block;
    width: 80%;
    max-width: 500px;
}
.nav-search-block .search-input {
    width: 100%;
    height: 45px;
    margin-right: 0 !important;
    border-radius: 10px !important;
    font-size: 1.15rem;
    padding-left: 45px;
}
.nav-search-block .fa-search {
    font-size: 1.2rem !important;
    margin-top: 8px;
}
@media (max-width: 991px) {
    .nav-search-block .fa-search {
        margin-top: 16px;
    }
    .nav-search-block {
        margin-bottom: 10px;
        margin-top: -20px;
    }
}
@media (max-width: 575px) {
    .nav-search-block .fa-search {
        margin-top: 9px;
    }
    .nav-search-block {
        width: 95%;
    }
}

/* ==== HOME PAGE ==== */
.custom_row {
    display: grid;
    grid-template-columns: 25% 50% 25%;
    max-width: 1375px;
    margin: auto;
}
@media (max-width: 1200px) {
    .custom_row {
        display: block;
    }
}

/* Start of homepage (no follower section) */

.home-sidebar{
    margin: auto;
    margin-top: 45px;
    max-width: 480px;
}
.sidebar-container {
    width: 100%;
    border-radius: 5px;
    background: linear-gradient(125deg, #b4b4b4d3, #575757d3);
    padding: 30px 15px 40px;
    border: 2px solid white;
    box-shadow: 0px 5px 10px grey;
}
.sidebar-username {
    font-size: 1.5rem;
    text-align: center;
    letter-spacing: 1px;
    color: white;
    text-shadow: -1px -1px 0 #909090, 1px -1px 0 #909090, -1px 1px 0 #909090, 1px 1px 0 #909090;
    font-weight: bold;
    border-radius: 6px;
    margin: 10px auto 20px;
}
.sidebar-text {
    color: white;
    text-shadow: -1px -1px 0 #909090, 1px -1px 0 #909090, -1px 1px 0 #909090, 1px 1px 0 #909090;
    font-size: 1.1rem;
    text-align: center;
}
.sidebar-btn {
    width: 60%;
    margin: auto;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
    border: none;
    border: 1px solid #f8f9fa;
    background: rgb(218, 218, 218);
    color: rgb(117, 117, 117);
}

@media (max-width: 490px) {
    .sidebar-container {
        padding: 20px 15px 30px;
    }
    .sidebar-username {
        font-size: 1.3rem;
        margin-bottom: 10px;
    }
    .sidebar-text {
        font-size: 0.95rem;
    }
}

/* End of homepage (no follower section) */

#global-posts {
    width: 90%;
    max-width: 550px;
    margin: auto;
}
.home-title {
    font-size: 1.25rem !important;
}
.home-title .fa {
    margin-left: 8px;
    margin-right: 8px;
    cursor: pointer;
    transition: color 0.3s;
}
.home-title .fa:hover {
    color: #bdbcbc;
}
.home-title .fa-pencil-square-o {
    font-size: 1.3rem;
    position: relative;
    top: 1px;
}
.home-title .fa-heart {
    font-size: 1.15rem;
}
.home-icons {
    background: #262B2F;
    padding: 10px 20px;
    width: 75%;
    margin: auto;
}
.home-icons p {
    text-align: center;
    margin: 0;
}
.home .post-image {
    width: 100%;
    height: 400px;
}
.home .post-image img {
    height: 100%;
    width: 100%;
}
.home .post-description {
    font-size: 13px;
    margin: 5px 5px 5px 15px;
    position: relative;
    padding-right: 120px;
    padding-bottom: 5px;
    width: 100%;
    min-height: 68px;
    display: inline-block;
    max-height: 80px;
    overflow-y: scroll;
}
.post-text {
    margin-right: 8px;
}
.post-read-more-btn, .view-post-btn {
    display: inline;
    padding: 0;
    background: none;
    outline: none;
    border: none;
    color: darkgrey;
}
.post-read-more-btn:hover, .view-post-btn:hover {
    text-decoration: underline;
}
.post-read-more-btn:focus, .view-post-btn:focus {
    outline: none;
}
.home .post-date {
    top: 37px;
    right: 0;
    padding: 6px 0;
    font-size: 0.65rem;
    background: #262B2F;
    text-align: center;
    border: 1px solid white;
    color: white;
    box-sizing: border-box;
    width: 108px;
}
.like-btn {
    position: absolute;
    top: 0;
    right: 0;
    background: #f8f9fa;
    color: #262B2F;
    padding: 4px 24px 4px 9px;
    font-size: 12px;
    border: 1px solid white;
    cursor: pointer;
}
.like-btn:hover {
    text-decoration: none;
}
.like-btn:hover .fa-heart {
    color: red;
}
.like-btn .fa-heart {
    margin-right: 10px;
    font-size: 14px;
    position: relative;
    top: 1px;
}
.liked {
    padding: 4px 19px 4px 9px;
}
.liked .fa-heart {
    color: red;
    margin-right: 8px;
}
.likes-hidden {
    display: none;
}
.likes {
    display: inline-block;
    margin-left: 10px;
    border-left: 1px solid white;
    padding-left: 10px;
}
.likes a {
    color: white;
}


@media (max-width: 580px) {
    .home .post-image {
        height: 350px;
    }
    .home .post-description {
        padding-right: 10px;
        font-size: 0.8rem;
        position: static;
    }
    .home .post-date {
        display:none;
    }
    .like-btn {
        width: 10px;
        height: 28px;
        overflow: hidden;
        border-radius: 4px;
        border: 1px solid #7b7d7e;
        top: 310px;
        right: 10px;
        transform: scale(1.1);
    }
    .liked {
        padding-right: 24px;
    }
}
@media (max-width: 450px) {
    .home-title {
        font-size: 1.1rem !important;
    }
    .home .post-block {
        margin: 10px;
    }
    .home .post-description-section {
        padding: 12px 8px 8px;
    }
    .home .post-image {
        height: 280px;
    }
    .home .post-description {
        font-size: 0.65rem;
        padding-right: 0;
        margin: 0 0 0 15px;
    }
    .like-btn {
        top: 243px;
        transform: scale(0.9);
    }
}

/* ==== END OF HOME PAGE ==== */



/* ==== START OF GLOBAL FEED ==== */
.global-background {
    background: #14141423;
}
.global-feed {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 8px;
    padding: 15px 30px 30px;
    margin: auto;
    max-width: 1400px;
}
.post-img-div {
    position: relative;
    max-height: 400px;
    overflow: hidden;
    border: 1px solid rgba(255, 255, 255, 0.5);
}
.post-img-div::before {
    content: ' ';
    display: block;
    width: 100%;
    padding-top: 100%;
}
.post-img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0px;
    left: 0px;
    bottom: 0px;
    right: 0px;
    filter: brightness(85%);
    cursor: pointer;
    transition: transform 0.7s, filter 0.7s;
}
.post-img:hover {
    filter: brightness(100%);
    transform: scale(1.05);
}

@media (max-width: 750px) {
    .global-feed {
        grid-template-columns: repeat(2, 1fr);
        padding: 15px 10px 30px;
    }
}
@media (max-width: 400px) {
    .global-feed {
        grid-template-columns: 1fr;
        padding: 15px 40px 30px;
    }
}

/* ==== END OF GLOBAL FEED ==== */


/* ==== START OF GLOBAL MODAL ==== */

.custom_modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.8);
    z-index: -1;
    overflow: auto;
    opacity: 0;
    transition: opacity 0.4s;
}
.custom_modal--visible {
    opacity: 1;
    z-index: 15;
}
.custom_modal__container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) scale(1.2);
    width: 90%;
    max-width: 600px;
    transition: transform 0.7s;
}
.custom_modal--visible .custom_modal__container {
    transform: translateX(-50%) translateY(-50%) scale(1);
}
.custom_modal__container .post-block {
    box-shadow: none;
}
.custom_modal__exit-btn {
    position: absolute;
    top: 15px;
    right: 30px;
    font-size: 3rem;
    cursor: pointer;
    transition: color 0.3s;
}
.custom_modal__exit-btn:hover {
    color: darkgrey;
}
.next-btn {
    position: absolute;
    top: 50%;
    right: -10%;
    transform: translateY(-100%) scaleY(1.2);
    background: transparent;
    outline: none;
    border: none;
    color: darkgrey;
    font-size: 1.5rem;
}
.previous-btn {
    position: absolute;
    top: 50%;
    left: -10%;
    transform: translateY(-100%) scaleY(1.2);
    background: transparent;
    outline: none;
    border: none;
    color: darkgrey;
    font-size: 1.5rem;
}
.next-btn:hover, .previous-btn:hover {
    color: #f8f9fa;
}
.next-btn:disabled, .previous-btn:disabled {
    display: none;
}
.next-btn:focus, .previous-btn:focus {
    outline: none;
}

@media (max-width: 750px) {
    .custom_modal__exit-btn {
        top: 10px;
        right: 10px;
        transform: scale(0.8);
    }
    .next-btn {
        top: 45%;
        right: 1%;
        color: #f8f9fa;
        text-shadow: -1px -1px 0 #686969, 1px -1px 0 #7b7d7e, -1px 1px 0 #7b7d7e, 1px 1px 0 #7b7d7e;
    }
    .previous-btn {
        top: 45%;
        left: 1%;
        color: #f8f9fa;
        text-shadow: -1px -1px 0 #7b7d7e, 1px -1px 0 #7b7d7e, -1px 1px 0 #7b7d7e, 1px 1px 0 #7b7d7e;
    }
}

/* ==== END OF GLOBAL MODAL ==== */


/* ==== PROFILE ==== */

/* Profile Info Section */
.profile-image {
    height: 150px;
    width: 150px;
}
.profile-block {
    display: flex;
    position: relative;
    width: 95%;
    max-width: 650px;
    margin: auto;
    color: white;
    background: #343A40;
    border: 2px solid white;
    padding: 5px;
    box-shadow: 5px 5px 8px grey;
}
.image-col {
    padding: 0.5em 0;
}
.image-col img {
    border-radius: 2%;
    border: 2px solid #c2c2c2;
}
.profile-fol-btn {
    position: absolute;
    top: 0px;
    right: 10px;
}
.bio-col {
    padding: 5px;
    padding-left: 13px;
    padding-right: 50px;
    overflow-x: hidden;
    width: 100%;
    position: relative;
}
.profile-btns-container {
    position: absolute;
    top: 5px;
    right: 13px;
    display: flex;
    flex-direction: column-reverse;
}
.follow-btn {
    font-size: 0.9rem;
    padding: 4px 10px;
    position: absolute;
    color: #f8f9fa;
    top: 5px;
    right: 10px;
    border: 1px solid #f8f9fa;
}
.edit-profile-btn {
    font-size: 1.4rem;
    padding: 4px 10px;
    margin-right: -1px;
}
.follow-btn:hover {
    background: #f8f9fa;
    color: #262B2F;
}
.modify-post-btn {
    font-size: 1.15rem;
    padding: 5px;
}
.profile-likes-btn {
    padding: 5px;
}
.modify-post-btn:hover .fa-database {
    color: #CBD3DA;
}
.profile-likes-btn .fa-heart-o {
    font-size: 1.3rem;
    margin-top: 5px;
}
.profile-follow-container {
    width: auto;
}
.following {
    display: inline-block;
    border-left: 1px solid lightgrey;
    padding-left: 10px;
    margin-left: 10px;
}
.followers {
    display: inline-block;
    border-left: 1px solid lightgrey;
    border-right: 1px solid lightgrey;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 10px;
}
.following a, .followers a {
    color: lightgrey;
}
.following a:hover, .followers a:hover {
    color: white;
    text-decoration: none;
}
.profile-title {
    font-size: 1.1rem !important;
    font-weight: 400 !important;
}

@media (max-width: 620px) {
    .profile-follow-container {
        transform: scale(0.9);
        position: absolute;
        bottom: 9px;
        left: -5px;
    }
    .profile-username {
        font-size: 1.35rem;
    }
    .profile-bio-text {
        font-size: 0.8rem;
    }
}
@media (max-width: 485px) {
    .profile-block {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        max-width: 280px;
    }
    .profile-fol-btn {
        top: auto;
        right: 50%;
        transform: translateX(52%);
        bottom: 55px;
    }
    .bio-col {
        text-align: center;
        position: static;
        padding: 10px;
        padding-bottom: 90px;
    }
    .profile-follow-container {
        left: 50%;
        transform: translateX(-50%);
        bottom: 19px;
        width: 100%;
    }
    .profile-btns-container {
        flex-direction: row;
        gap: 20px;
        top: auto;
        bottom: 50px;
        left: 50%;
        transform: translateX(-45%);
        justify-content: center;
    }
    .edit-profile-btn {
        position: relative;
        top: 2px;
        right: 5px;
    }
    .modify-post-btn {
        top: 2px;
        position: relative;
    }
    .profile-likes-btn {
        top: 1px;
        position: relative;
    }
    .image-col {
        padding: 0;
        margin: auto !important;
        padding-top: 20px;
        text-align: center;
    }
    .image-col img {
        border-width: 1px;
        border-radius: 50%;
    }
    .tooltip-arrow,
    .tooltip > .tooltip-inner,
    .arrow,
    .arrow::before {
        display: none;
    }
    .profile-likes-btn .fa-heart-o {
        margin-right: -3px;
    }
    .follow-btn {
        bottom: 65px;
        top: auto;
        right: 50%;
        transform: translateX(50%);
    }
}


/* Post Section  */
.profile-post-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.post-block, .profile-post-block {
    background: #262B2F;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    margin: 20px;
    box-shadow: 0px 2px 10px 3px grey;
    position: relative;
    width: 370px;
}
.overflow-hidden {
    overflow: hidden;
}
.post-image {
    width: 100%;
    height: 300px;
}
.post-image img {
    height: 100%;
    width: 100%;
}
.post-description-section {
    display: flex;
    padding: 15px 12px;
    border-top: 2px solid lightgrey;
}
.post-user-image img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid lightgrey;
}
.post-description {
    font-size: 12px;
    margin: auto;
    margin-left: 15px;
}
.post-description p {
    margin-bottom: 0;
}
.post-date {
    display: inline-block;
    position: absolute;
    top: 10px;
    right: 0px;
    background: #f8f9fa;
    color: #262B2F;
    padding: 4px 10px;
    font-size: 12px;
}
.post-options {
    position: absolute;
    top: 4px;
    left: 5px;
}
.delete-post-btn, .edit-post-btn {
    font-size: 1.4rem;
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer;
    transform: translateY(-150%);
    transition: transform 0.8s ease-out;
    color: white;
    text-shadow: -1px -1px 0 grey, 1px -1px 0 grey, -1px 1px 0 grey, 1px 1px 0 grey;
}
.delete-post-btn {
    margin-left: 4px;
    font-size: 1.5rem;
}
.edit-post-btn {
    position: relative;
    top: 1px;
}
.edit-post-btn:hover {
    color: #007bff;
    transition: color 0.3s, text-shadow 0.3s;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}
.delete-post-btn:hover {
    color: red;
    transition: color 0.3s, text-shadow 0.3s;
    text-shadow: -1px -1px 0 white, 1px -1px 0 white, -1px 1px 0 white, 1px 1px 0 white;
}
.delete-post-btn:focus, .edit-post-btn:focus {
    outline: none;
}
.btn-visible {
    transform: translateY(0%);
}
.empty-profile-posts {
    background: #262B2F;
    color: white;
    padding: 10px 20px;
    position: relative;
}
.profile-create-post-btn {
    display: block;
    font-size: 0.95rem;
    color: #2990ff;
    width: 200px;
    margin: 10px auto 0px;
}
.profile-create-post-btn:hover {
    color: #5eafff;
    text-decoration: none;
}
.fade-away-animation {
    animation: fadeAway 1s ease-in-out forwards;
}
@keyframes fadeAway {
    0% {opacity: 1}
    100% {opacity: 0}
}
@media (max-width: 900px) {
    .profile-post-block {
        width: 40%;
    }
    .profile-post-block .post-image {
        height: 275px;
    }
}
@media (max-width: 750px) {
    .profile-post-block {
        width: 370px;
    }
    .profile-post-block .post-image {
        height: 300px;
    }
}


.profile_modal {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, 0.9);
    z-index: -5;
    overflow: auto;
    opacity: 0;
    transition: opacity 0.4s;
}
.profile_modal--visible {
    opacity: 1;
    z-index: 15;
}
.profile_modal__container {
    background: #262B2F;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-70%) scale(1.2);
    width: 90%;
    max-width: 600px;
    border: 2px solid white;
    text-align: center;
    transition: transform 0.7s;
    padding: 30px 10px;
}
.profile_modal--visible .profile_modal__container {
    transform: translateX(-50%) translateY(-70%) scale(1);
}
.profile_modal__title {
    font-size: 2.2rem;
    margin-bottom: 25px;
}
.profile_modal__title--small {
    font-size: 1.6rem;
}
.profile_modal__text {
    display: inline-block;
    text-align: center;
    resize: none;
    width: 80%;
    margin: 10px 5px 5px;;
    font-family: sans-serif;
    border: 2px solid #b4b4b4;
    font-size: 1.1rem;
    padding-top: 5px;
}
.profile_modal__text--no-edit {
    padding-top: 10px;
    background: darkgrey;
    color: white;
}
.profile_modal__button {
    display: block;
    padding: 9px 14px;
    font-size: 1.1rem;
    background: #007bff;
    color: white;
    border: 1px solid lightgrey;
    border-radius: 4px;
    text-align: center;
    margin: 20px auto 15px;
    cursor: pointer;
}
.profile_modal__button:hover {
    background: #0065d1;
    transition: background 0.5s;
}
.profile_modal__button--delete, .profile_modal__button--delete-all {
    background: rgb(224, 81, 81);
    color: white;
}
.profile_modal__button--delete:hover, .profile_modal__button--delete-all:hover {
    background: #ad1313;
}
.profile_modal__button--cancel {
    margin-top: 0px;
    margin-bottom: 25px;
    font-size: 1rem;
    padding: 7px 12px;
    background: #f8f9fa;
    color: black
}
.profile_modal__button--cancel:hover {
    background: #b0b1b1;
}
.profile_modal__cancel-btn {
    background: none;
    border: none;
    font-size: 1rem;
    color: white;
    margin-top: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}
.profile_modal__cancel-btn:hover {
    color: #b0b1b1;
    transition: color 0.3s;
}
.profile_modal__cancel-btn:focus {
    outline: none;
}
.profile_modal__exit-btn {
    position: absolute;
    top: 30px;
    right: 40px;
    font-size: 3rem;
    color: white;
    cursor: pointer;
}
.profile_modal__exit-btn:hover {
    color: #bdbcbc;
    transition: all 0.3s;
}

@media (max-width: 600px) {
    .profile_modal__title {
        font-size: 1.9rem;
    }
    .profile_modal__title--small {
        font-size: 1.3rem;
    }
    .profile_modal__text {
        width: 90%;
        font-size: 1rem;
    }
    .profile_modal__button {
        font-size: 1rem;
    }
    .profile_modal__button--cancel {
        font-size: 0.9rem;
    }
    .profile_modal__exit-btn {
        top: 15px;
        right: 25px;
    }
}

/* ==== END OF PROFILE ==== */

/* ==== UPDATE PROFILE PAGE ==== */

.profile-card {
    box-shadow: 7px 7px 12px grey, -7px 7px 12px grey;
    border: 2px solid white;
    width: 90%;
    max-width: 26rem;
}
.update-profile-form {
    display: flex;
    flex-direction: column;
}
.edit-profile-title {
    border-bottom: 1px solid #262B2F;
}
.update-profile-btn {
    background: #F8F9FA;
    color: #262B2F;
    padding: 0.5em 1em;
    cursor: pointer;
    border-radius: 5px;
    margin: 0.5em auto 0.4em;
    transition: background-color 0.3s;
    text-align: center;
    width: 70%;
    border: 1px solid lightgrey;
    transition: background-color 0.3s;
}
.update-profile-btn:hover {
    background: #cccccc;
}
.update-profile-image {
    width: 15rem;
    height: 16rem;
    margin: auto;
    margin-top: -20px;
    cursor: pointer;
}
.profile-bio-label {
    margin: 0.8em auto 0.5em;
}
.update-profile-bio {
    text-align: center;
    padding-top: 6px;
    max-height: 150px;
    width: 80%;
    margin: auto;
}
.card-header h3 {
    font-family: 'Lobster', cursive;
    letter-spacing: 1px;
}
.update-profile-image img {
    width: 100%;
    height: 100%;
    border: 2px solid white;
}
.image-form a {
    color: white;
    text-decoration: underline;
}
.bio-form input {
    width: 100%;
    height: 40px;
    border: 1px solid lightgrey;
    padding: 0 8px;
}
.form-label {
    margin-bottom: 10px;
}
.form-button {
    text-align: center;
    margin: 10px auto;
}
.save-changes-btn {
    margin: auto;
    width: 80%;
    padding: 0.5em 1em;
    border-radius: 5px;
    background: #007bff;
    color: white;
    transition: background-color 0.3s;
    border: 1px solid white;
}
.save-changes-btn:hover { 
    background: #006adb;
}

@media (max-width: 410px) {
    .save-changes-btn {
        width: 95%
    }
    .update-profile-bio {
        width: 95%;
    }
    .update-profile-btn {
        font-size: 0.9rem;
    }
}

/* ==== END OF UPDATE PROFILE PAGE ==== */

/* ==== SEARCH PAGE ==== */

.page-title {
    border: 2px solid white;
    color: #f8f9fa;
    background: #343A40;
    padding: 10px 5px;
    max-width: 650px;
    width: 95%;
    box-shadow: 0px 5px 10px grey;
    margin: auto;
    margin-bottom: 10px;
    font-size: 1.7rem;
    font-weight: bold;
    letter-spacing: 1px;
}
.user-page .bio-col {
    padding-right: 10px !important;
}
.fa-user {
    margin-left: 1px;
}
.user-btn {
    background: #C8CACB;
    padding: 5px 10px;
    font-size: 0.9rem;
    font-weight: 600;
    transition: background-color 0.3s;
    margin-top: 5px;
    display: inline-block;
}
.user-btn:hover {
    background: #b0b1b1;
}
.username-link {
    display: inline-block;
    color: #f8f9fa;
}
.username-link:hover {
    text-decoration: none;
    color: white;
}

@media (max-width: 675px) {
    .username-link h4 {
        font-size: 1.3rem;
    }
    .bio-col p {
        font-size: 0.9rem;
    }
}
@media (max-width: 485px) {
    .user-page .profile-block {
        padding: 20px 5px 30px;
    }
    .username-link {
        font-size: 1.1rem;
    }
    .user-page .image-col {
        padding-top: 10px;
    }
    .user-page .bio-col {
        padding: 20px 10px 10px !important;
    }
    .bio-col p {
        font-size: 0.8rem;
    }
    
}

/* ==== END OF SEARCH PAGE ==== */

/* ==== LOGIN PAGE ==== */
.logged-out-link {
    font-size: 1.2rem;
    font-weight: 700;
    color: white !important;
    position: relative;
    top: -4px;
    text-shadow: -1px -1px 0 #909090, 1px -1px 0 #909090, -1px 1px 0 #909090, 1px 1px 0 #909090;
}
.login-background main {
    background: transparent;
}
.login-background .navbar {
    background: transparent;
}
.form-background {
    max-width: 400px;
    width: 90%;
    padding: 10px 5px 30px;
    color: #262B2F;
    margin: 50px auto 0px;
    background: linear-gradient(125deg, #c0bfbfd3, #575757d3);
    box-shadow: 7px 7px 12px grey, -7px 7px 12px grey;
    border: 2px solid white;
}
.form-background form {
    width: 85%;
    margin: auto;
}
.login-title {
    text-align: center;
    font-family: sans-serif;
    letter-spacing: 1px;
    padding: 10px 0px 0px;
    color: #F8F9FA;
    font-weight: 700;
    text-shadow: -1px -1px 0 #909090, 1px -1px 0 #909090, -1px 1px 0 #909090, 1px 1px 0 #909090;
}
.login-br {
    height: 1px;
}
.submit-btn {
    margin: 1em auto 1.3em;
    width: 200px;
    padding: 0.5em 1em;
    border-radius: 5px;
    background: #007bff;
    color: white;
    transition: background-color 0.3s;
    border: 1px solid white;
    display: block;
    text-align: center;
}
.submit-btn:hover { 
    background: #006adb;
    border: 1px solid white;
}
.submit-btn:focus {
    outline: none;
    background: #007bff;
    border: 1px solid white;
}
.logout-background {
    background: linear-gradient(165deg, #c0bfbfd3, #575757d3);
}
.logout p {
    font-size: 20px;
}
.logout p a {
    font-size: 17px;
    color: rgb(172, 212, 250);
    transition: color 0.3s;
    font-weight: 700;
}
.logout p a:hover {
    color: rgb(194, 222, 248) !important;
    text-decoration: none;
}
.login-form label {
    color: white;
    font-size: 1.1rem;
    font-weight: 700;
    text-shadow: -1px -1px 0 #909090, 1px -1px 0 #909090, -1px 1px 0 #909090, 1px 1px 0 #909090;
}
.login-page-link {
    font-size: 1.05rem;
    color: white;
}
.login-page-link:hover {
    color: white;
}
.login-form .alert {
    background: #007bff;
    color: white;
}
.login-form .alert ul {
    list-style: none;
    margin: 0;
    padding: 0;
    font-size: 0.8rem;
    text-align: center;
}

@media (max-width: 430px) {
    .form-background form {
        width: 90%;
    }
}

/* ==== END OF LOGIN PAGE ==== */

/* ==== START OF REGISTER PAGE ==== */

.register-form-background {
    max-width: 500px;
    margin: 30px auto 50px;
}
.register-title {
    text-align: center;
    font-family: sans-serif;
    letter-spacing: 1px;
    padding: 10px 0px 20px;
    color: #F8F9FA;
    font-weight: 700;
    text-shadow: -1px -1px 0 #909090, 1px -1px 0 #909090, -1px 1px 0 #909090, 1px 1px 0 #909090;
    border-bottom: 1px solid rgb(133, 133, 133);
    margin-bottom: 10px !important;
}

.field-hidden {
    opacity: 0;
    height: 0;
    overflow: hidden;
}
.field-visible {
  transition: opacity 1s;
  opacity: 1;
  height: auto;
  overflow: auto;
}
.register-form {
  width: 80%;
  margin: auto;
}
.form-field-container {
  position: relative;
  transform: scaleY(0.9);
}
.form-label {
  padding: 10px 0 0;
  margin: -5px 0 15px;
  position: relative;
  top: 3px;
  font-size: 1.05rem;
  color: white;
  text-shadow: -1px -1px 0 #909090, 1px -1px 0 #909090, -1px 1px 0 #909090, 1px 1px 0 #909090;
  font-weight: 700;
}
.register-field {
  width: 100%;
  margin: 10px auto 0px;
  display: block;
  height: 44px;
  border-radius: 5px;
  font-size: 1rem;
  padding: 5px 15px;
  border: none;
  position: relative;
  z-index: 10;
}
.register-link {
  color: white;
  text-align: center;
  display: block;
  text-decoration: none;
  font-family: sans-serif;
}
.register-link:hover {
  color: rgb(197, 197, 197);
  text-decoration: none;
}

@media (max-width: 450px) {
  .form-label {
      margin-bottom: 5px;
      position: relative;
      top: 2px;
      z-index: 1;
  }
  .register-field {
      height: 40px;
  }
}

/* Alert CSS */

.form-alert {
  background: rgb(255, 78, 78);
  border-radius: 7px 7px 0 0;
  position: absolute;
  width: 100%;
  padding: 0;
  top: 8px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
  color: white;
}
.error-message {
  text-align: center;
  padding: 12px 3px;
  margin: 0;
  position: relative;
  bottom: 3px;
  font-size: 0.9rem;
}
.error-popup-animation {
  animation-name: showErrorPopup;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-duration: 0.5s;
  animation-timing-function: ease-out;
}
.reverse-error-popup-animation {
  animation-name: showErrorPopup;
  animation-fill-mode: forwards;
  animation-iteration-count: 1;
  animation-duration: 0.7s;
  animation-timing-function: ease;
  animation-direction: reverse;
}

@keyframes showErrorPopup {
  0% {transform: translateY(100%) translateX(-50%) scaleY(0.4)}
  100% {transform: translateY(0%) translateX(-50%) scaleY(1); margin-bottom: auto}
}


@media (max-width: 550px) {
  .form-alert {
    top: 10px;
  }
  .error-message {
    font-size: 0.85rem;
    padding: 10px 3px 10px;
    position: relative;
    top: 1px;
  }
}

@media (max-width: 450px) {
  .form-alert {
      top: 13px;
  }
  .error-message {
    font-size: 0.65rem;
    top: -2px;
  }
}

.slide-animation {
    animation-name: slide;
    animation-duration: 1s;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
    animation-timing-function: ease;
}

@keyframes slide {
    0% {}
    100% {
        height: 0;
        overflow: hidden;
        margin-top: -30px;
    }
}

@media (max-width: 480px) {
    .alert {
        font-size: 0.8rem;
    }
}

/* ==== END OF REGISTER PAGE ==== */

/* ==== START OF CREATE POST PAGE ==== */

.create-post-background {
    background: #343A40;
    padding: 10px 0px 30px;
    margin: auto;
    margin-bottom: 3em;
    box-shadow: 7px 7px 12px grey, -7px 7px 12px grey;
    border: 2px solid white;
    width: 90%;
    max-width: 700px;
}
.create-post-title {
    text-align: center;
    font-family: "Lobster", sans-serif;
    letter-spacing: 1px;
    padding-bottom: 10px;
    border-bottom: 1px solid #24282c;
}
.create-post-form {
    display: flex;
    justify-content: space-around;
    width: 90%;
    margin: auto;
}
.uploaded-image {
    width: 250px;
    height: 250px;
    margin: 20px auto;
    border: 2px solid white;
    cursor: pointer;
    background-color: rgba(38, 43, 47, 0.9);
}
.uploaded-image img {
    width: 100%;
    height: 100%;
    display: none;
}
.upload-image-text {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.upload-text {
    font-size: 1.4rem;
}
.fa-upload {
    position: relative;
    bottom: 0.3em;
    font-size: 2.2em;
    border: 2px solid white;
    padding: 0.15em;
    border-radius: 9px;
}
.image-upload {
    display: none;
}
.upload-post-btn {
    background: #F8F9FA;
    color: #262B2F;
    padding: 0.5em 1em;
    cursor: pointer;
    border-radius: 5px;
    margin: 0em auto 0.4em;
    transition: background-color 0.3s;
    text-align: center;
    width: 250px;
    border: 1px solid #262B2F;
}
.upload-post-btn:hover { 
    background: #d3d3d3;
}
.success-btn {
    color: white;
    background: rgb(61, 173, 61);
}
.success-btn:hover {
    background: rgb(48, 143, 48);
}
.success-btn-check {
    font-size: 1.2rem;
    position: relative;
    left: 0.2em;
    top: 0.1em;
}
.description-div {
    text-align: center;
}
.create-post-description {
    height: 200px;
    resize: none;
    background-color: rgba(248, 249, 250, 0.9);
    width: 100%;
    border: 2px solid grey;
}
.post-description-label {
    margin-top: 15px;
}
.spacer {
    width: 100%;
    border-bottom: 1px solid #24282c;
    display: inline-block;
}
.create-post-btn {
    margin: 0.75em auto 0.1em;
    width: 90%;
    padding: 0.5em 1em;
    border-radius: 5px;
    background: #007bff;
    color: white;
    transition: background-color 0.3s;
    border: 1px solid white;
}
.create-post-btn:hover { 
    background: #006adb;
}

@media (max-width: 680px) {
    .upload-image-div, .description-div {
        transform: scale(0.9)
    }
}

@media (max-width: 600px) {
    .uploaded-image {
        height: 200px;
        width: 200px;
    }
    .upload-text {
        font-size: 1.2em;
    }
    .fa-upload {
        font-size: 2em;
    }
    .upload-post-btn {
        display: block;
        width: 200px;
        font-size: 0.9em;
        padding: 0.6em 1.2em;
    }
    .create-post-form {
        align-items: center;
    }
    .create-post-description {
        height: 150px;
    }
}

@media (max-width: 525px) {
    .create-post-form {
        flex-direction: column;
    }
    .uploaded-image {
        height: 200px;
        width: 200px;
    }
    .upload-text {
        font-size: 1.2em;
    }
    .fa-upload {
        font-size: 2em;
    }
    .upload-post-btn {
        display: block;
        width: 200px;
        font-size: 0.9em;
        padding: 0.6em 1.2em;
    }
    .upload-image-div {
        margin: auto;
        text-align: center;
    }
    .description-div {
        margin-top: -20px;
    }
    .create-post-description {
        height: 100px;
        width: 90%;
        resize: initial;
    }
    .spacer {
        display: none;
    }
    .create-post-btn {
        margin-top: 1.2em;
        width: 90%;
    }
}

/* ==== END OF CREATE POST PAGE ==== */

#liked-posts-list {
    width: 90%;
    max-width: 550px;
    margin: auto;
}

/* ==== FOOTER ==== */

footer {
    padding: 50px;
    background: #262B2F;
    font-family: 'Lobster', cursive;
    text-align: center;
    margin-top: 50px;
}

/* ==== END OF FOOTER ==== */

/* Remove scrollbar */ 

.post-description::-webkit-scrollbar {
    display: none;
}
.post-description {
    -ms-overflow-style: none;
    scrollbar-width: none;
}
.global-background {
    min-height: 102vh;
}


@media (max-width: 767.8px) {
    .navbar {
        padding: 15px 20px !important;
    }
    .navbar h1 {
        left: 50%;
        transform: translateX(-50%);
    }
    .navbar-nav {
        margin-top: 15px;
    }

}





